.btn-full{
    background-color: var(--dark-green);
    border: 2px solid var(--dark-green);
}

.btn-empty{
    color: var(--dark-green);
    background: none;
    border: 2px solid white;
}

.btn-empty, .btn-full {
    color: white;
    border-radius: 50px;
    padding: .5em .7em;
    font-weight: bold;
}