.categoryButtonList{
    background-color: var(--light-grey);
    border-radius: 50px;
    border: none;
    padding: .2em .9em;
}

.categoryButtonList:hover{
    background-color: var(--light-green);
    color: white;
}

.categoryIsActive{
    background-color: var(--dark-green);
    color: white;
}