:host{
    width: 21em;
}

section.recipe-box{
    margin: .9em 1em;
}

.recipe-img{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.recipe-item-duration{
    position: absolute;
    width: 100%;
    padding-top: 10em;
    padding: 1em;
    bottom: 0;
    color: #fff;
    background: linear-gradient(to top, #00000098, transparent);
}

img{
    width: 100%;
    height: 15em;
    object-fit: cover;
}

h3{
    font-size: 20px;
    font-weight: bold;
}

.recipe-btn-favorite{
    border: none;
    background: none;
}

.recipe-btn-favorite i{
    font-size: 1.5em;
    padding: 0;
}

.favorite{
    color: red;
}

.not-favorite{
    color: var(--light-grey);
}

.recipe-categories{
    gap: .5em;
}

.recipe-delete-link{
    font-style: italic;
    color: var(--light-green);
}