@if(recipe){
    <div class="recipe-img d-flex flex-column">
        <img [src]="recipe.recipeImg"/>
        <div class="recipe-item-duration d-flex flex-row gap-3">
            <span><i class="bx bx-time"></i> {{recipe.recipeDuration}} min</span>
            <span>•</span>
            <span><i class="bx bx-restaurant"></i> {{recipe.recipeLevel}}</span>
        </div>
    </div>
    <section class="recipe-box d-flex flex-column gap-3">
        <div class="d-flex flex-row align-items-start justify-content-between">
            <h3>{{recipe.recipeTitle}}</h3>
            <button class="recipe-btn-favorite d-flex align-items-center" (click)="recipe.recipeFavorite = !recipe.recipeFavorite">
                @if(recipe.recipeFavorite){
                    <i class="fa fa-heart favorite"></i>
                } @else {
                    <i class="fa fa-heart not-favorite"></i>
                }
            </button>
        </div>
        <div class="recipe-categories d-flex flex-row align-items-center flex-wrap">
            @for(eachCategory of recipe.recipeCategories; track recipe){
                <app-button-category [categoryText]="eachCategory" categoryStyle="tag-empty d-flex mb-1"></app-button-category>
            }
        </div>
        <p>{{recipe.recipeDescription}}</p>
        <div class="d-flex flex-row align-items-center justify-content-between">
            <app-button
                buttonText="Cuisiner"
                buttonStyle="btn-full"
                buttonUrl="./recipe/{{recipe.recipeId}}"
            ></app-button>
            <a href="#" class="recipe-delete-link">Supprimer</a>
        </div>
    </section>
}