section {
    padding: 0 5em;
    min-height: 100%;
    max-width: 25em;
    background-color: var(--light-green);
}

.nav-content{
    position: sticky;
    top: 0;
}

.main-logo{
    width: 15em;
    height: 8.5em;
    object-fit: cover;
    margin-top: 3em;
}

.nav-description{
    color: white;
}

.nav-links{
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

hr{
    width: 100%;
    border: .3px solid var(--dark-green);
    opacity:.4;
}

.nav-links h2{
    color: white;
    margin: 0;
}

ul{
    padding: 0;
    list-style-type: none;
}

li i, li img{
    width: 1.5em;
}

li i{
    color: var(--dark-green);
}

a{
    color: white;
}

.user-connected{
    display: flex;
}

.user-guest{
    display: none;
}