<section class="d-flex flex-column">
    <div class="nav-content">
        <img class="main-logo" src="../../../assets/Logo_application.png"/>
        <p class="nav-description">Découvrez des recettes de tous les pays du monde et partagez les vôtres.</p>
        <hr>
        <div class="nav-links user-connected">
            <ul class="d-flex flex-column gap-3">
                <h2>Recettes</h2>
                <li class="d-flex flex-row align-items-center gap-3">
                    <i class="bx bxs-bowl-hot bx-xs"></i>
                    <a routerLink="/">Voir toutes les recettes</a>
                </li>
                <li class="d-flex flex-row align-items-center gap-3">
                    <i class="bx bx-world bx-xs"></i>
                    <a routerLink="/explore">Explorer les saveurs du monde</a>
                </li>
                <li class="d-flex flex-row align-items-center gap-3">
                    <img src="../../../assets/NEW.svg"/>
                    <a routerLink="/create-recipe">Créer une recette</a>
                </li>
                <li class="d-flex flex-row align-items-center gap-3">
                    <i class="bx bxs-pencil bx-xs"></i>
                    <a routerLink="#">Modifier mes recettes</a>
                </li>
            </ul>
            <ul class="d-flex flex-column gap-3">
                <h2>Profil</h2>
                <li class="d-flex flex-row align-items-center gap-3">
                    <i class="bx bxs-user bx-xs"></i>
                    <a routerLink="#">Voir votre profil</a>
                </li>
                <li class="d-flex flex-row align-items-center gap-3">
                    <i class="fa fa-users"></i>
                    <a routerLink="#">Voir tous les cuisiniers</a>
                </li>
                <li class="d-flex flex-row align-items-center gap-3">
                    <i class="fa fa-right-from-bracket"></i>
                    <a routerLink="#">Déconnexion</a>
                </li>
            </ul>
        </div>
        <div class="nav-links user-guest">
            <ul class="d-flex flex-column gap-3">
                <h2>Recettes</h2>
                <li class="d-flex flex-row align-items-center gap-3">
                    <i class="bx bx-world bx-xs"></i>
                    <a routerLink="/">Voir toutes les recettes</a>
                </li>
                <li class="d-flex flex-row align-items-center gap-3">
                    <i class="bx bxs-bowl-hot bx-xs"></i>
                    <a routerLink="/explore">Explorer la carte du monde</a>
                </li>
            </ul>
            <ul class="d-flex flex-column gap-3">
                <h2>Profil</h2>
                <div class="nav-connexion d-flex flex-row justify-content-between">
                    <app-button 
                        buttonText="Connexion"
                        buttonStyle="btn-empty"
                        buttonUrl="https://marinethomas.ovh"
                        ></app-button>
                    <app-button
                        buttonText="Inscription"
                        buttonStyle="btn-full"
                        buttonUrl="https://portfolio.marinethomas.ovh"
                    ></app-button>
                </div>
            </ul>
        </div>
    </div>
</section>