:host{
    width: 100%;
}

main {
    margin: 3em 10em;
}

section{
    width: 100%;
    margin: 3em 0;
}

a{
    color: var(--dark-green);
    font-weight: bold;
}

a i{
    font-size: 2em;
}

.recipe-detail,
.recipe-detail i{
    font-weight: bold;
    margin-right: .5em;
    color: var(--light-green)
}

.details{
    gap: 1em;
}

.recipe-buttons-bloc{
    margin-top: 2em;
}

.details p{
    margin: 0;
}

button{
    color: white;
    font-weight: bold;
}

.btn-update{
    background-color: var(--dark-green);
}

.btn-delete{
    background-color: var(--light-grey);
}

img{
    border-radius: 10px;
    width: 30em;
    height: 20em;
    object-fit: cover;
}

/* COMMENTAIRES */
.recipe-info-description{
    width: 100%;
    padding-right: 2em;
    text-align: justify;
}

.recipe-info-commentaire{
    min-width: 30em;
    height: 100%;
    padding: 0 1em;
}