@if(recipe){
    @for(recipe of recipe; track recipe){
        @if(recipe.recipeId == recipeId){
            <!-- <h1>{{recipe.recipeTitle}}</h1> -->
            <main>
                <a href="/" class="d-flex flex-row align-items-center"> 
                    <i class="bx bx-chevron-left"></i> 
                    Toutes les recettes
                </a>
                <section class="d-flex flex-row flex-wrap align-items-center justify-content-between">
                    <div class="d-flex flex-column">
                        <h1>{{recipe.recipeTitle}}</h1>
                        <p>Recette proposée par ...</p>
                        <div class="details d-flex flex-column">
                            <p>
                                <span class="recipe-detail">
                                    <i class="bx bx-stopwatch"></i>
                                    Durée :
                                </span> 
                                {{recipe.recipeDuration}} min
                            </p>
                            <p>
                                <span class="recipe-detail">
                                    <i class="bx bx-timer"></i>
                                    Cuisson :
                                </span> 
                                0 min
                            </p>
                            <p>
                                <span class="recipe-detail">
                                    <i class="fa fa-users"></i>
                                    Nombre de personnes :
                                </span>
                                3
                            </p> 
                            <p>
                                <span class="recipe-detail">
                                    <i class="bx bxs-check-circle"></i>
                                    Difficulté :
                                </span> 
                                {{recipe.recipeLevel}}
                            </p>
                        </div>
                        <div class="recipe-buttons-bloc d-flex flex-row gap-2">
                            <button class="btn btn-update">Modifier la recette</button>
                            <button class="btn btn-delete">Supprimer la recette</button>
                        </div>
                    </div>
                    <img [src]="recipe.recipeImg" alt=""> 
                </section>
                <section class="d-flex flex-row justify-content-between">
                    <div class="recipe-info-description d-flex flex-column">
                        <h2>Description</h2>
                        <p>{{recipe.recipeDescription}}</p>
                    </div>
                    <div class="recipe-info-commentaire d-flex flex-column">
                        <h3>Infos</h3>
                        <span>Evaluation</span>
                    </div>
                </section>
            </main>
        }
        
    }
}