<main>
    <section class="home-description d-flex flex-column align-items-center justify-content-center text-center">
        <h1>Parcourez toutes les recettes</h1>
        <p>Explorez les recettes proposées sur mon site, <span>partagez & échangez</span> vos propres créations et astuces avec d'autres passionnés de cuisine !</p>
        <form (submit)="submitForm($event)" class="d-flex flex-row justify-content-between align-items-center gap-2">
            <input (keyup)="filter.RegisterRecipeName=$any($event.target).value" type="text" placeholder="Rechercher une recette">
            <button type="submit" class="bg-none d-flex align-items-center p-0"><i class="bx bx-search bx-sm"></i></button>
        </form>
    </section>

    <section>
        @if(recipes && recipes.length > 0){
            <div class="categories-list d-flex flex-row flex-wrap">
                <button class="bg-none" (click)="refreshRecipeList()">Tous</button>
                @for(eachCategory of categories; track eachCategory.categoryButtonId){
                    @if(categoryInRecipe(eachCategory)){
                        <app-category
                            [category]="eachCategory"
                            class="categoryIsActive"
                            (categorySelected)="filterCategory(eachCategory.categoryButtonText)"
                        ></app-category>
                    }
                }
            </div>
            
            <section class="recipes-list">
                @for(eachRecipe of recipes; track eachRecipe.recipeId){
                    <app-recipe-card [recipe]="eachRecipe"></app-recipe-card>
                }
            </section>
        }  @else {
            <section class="d-flex justify-content-center">
                <div class="d-flex flex-column justify-content-center">
                    <img class="recipe-missing" src="../../../assets/Oops.png" alt="Recette manquante">
                    <div class="recipe-missing-content d-flex flex-column justify-content-center text-center">
                        <p>Il n'y a pas de recette pour le moment</p>
                        <button class="btn btn-success" (click)="refreshRecipeList()">Toutes les recettes</button>
                    </div>
                </div>
            </section>
        }
    </section>
</main>