:host {
    width: 100%;
    height: 100%;
}

main {
    margin: 3em 10em;
}

.home-description {
    margin: 5em 0;
}

.home-description p{
    width: 80%;
}

.home-description span{
    font-weight: bold;
    color: var(--light-green);
}

/* BARRE DE RECHERCHE */
form{
    padding: .3em 1em;
    background-color: transparent;
    border-radius: 50px;
    border: .06em solid var(--light-green);
    width: 25em;
}

input::placeholder{
    color: var(--light-green);
}

input{
    width: 100%;
}

input[type="text"]:focus {
    outline: none;
}

button, input{
    border: none;
}

button i{
    color: var(--dark-green);
}

.bg-none{
    background: none;
}

/* LISTE DES RECETTES */

.categories-list {
    margin-bottom: 1.5em;
    gap: .5em;
}

section.recipes-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
}

img.recipe-missing{
    height: 10em;
    object-fit: cover;
}

.recipe-missing-content{
    width: 20em;
}