:root{
    --light-green: #B7B9A6;
    --dark-green: #676952;
    --light-grey: #f2f2f2;
    --font: Inter;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: var(--font);
}

h1, h3{
    color: var(--dark-green);
}

a{
    text-decoration: none;
}
